In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Hotels_data_Changed.csv', parse_dates=True)

In [4]:
df.head()

,Unnamed: 0,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc
0,0,1,2015-07-17,2015-08-12,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26,Wednesday,138,11.714771
1,1,1,2015-07-17,2015-08-19,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33,Wednesday,131,11.769991
2,2,1,2015-07-17,2015-08-13,5,4370,4240,1,3,The Peninsula New York,5,27,Thursday,130,2.974828
3,3,1,2015-07-17,2015-07-26,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9,Sunday,72,4.140311
4,4,1,2015-07-17,2015-08-12,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26,Wednesday,67,3.852789

In [5]:
df.describe()

,Unnamed: 0,Snapshot ID,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Stars,DayDiff,DiscountDiff,DiscountPerc
count,187848.000000,187848.000000,187848.0,187848.000000,187848.000000,187848.000000,187848.000000,187848.000000,187848.000000,187848.000000,187848.000000
mean,93923.500000,351.643451,5.0,1825.742143,1673.172283,2.434186,14.588561,3.905823,17.465685,152.569860,8.877715
std,54227.191021,1007.348927,0.0,1042.355712,983.618013,1.005191,41.575482,0.846496,10.040225,143.316985,6.030248
min,0.000000,1.000000,5.0,289.000000,260.000000,1.000000,-1.000000,0.000000,1.000000,15.000000,0.581395
25%,46961.750000,150.000000,5.0,1160.000000,1035.000000,2.000000,-1.000000,3.000000,9.000000,70.000000,4.844961
50%,93923.500000,439.000000,5.0,1599.000000,1475.000000,2.000000,-1.000000,4.000000,18.000000,103.000000,7.056229
75%,140885.250000,506.000000,5.0,2160.000000,1963.250000,3.000000,8.000000,4.000000,26.000000,180.000000,10.933941
max,187847.000000,417419.000000,5.0,29975.000000,28675.000000,4.000000,431.000000,5.000000,34.000000,3760.000000,68.425842

In [6]:
grouped = df.groupby(['Snapshot Date','Checkin Date','DayDiff','Hotel Name','WeekDay'])

In [9]:
grouped['DiscountPerc'].max()

Snapshot Date  Checkin Date  DayDiff  Hotel Name                                                    WeekDay
2015-07-17     2015-07-18    1        Home2 Suites by Hilton NY Long Island City Manhattan View     Saturday     10.752688
                                      Howard Johnson Inn Queens                                     Saturday      6.021898
                                      Newark Liberty International Airport Marriott                 Saturday     13.186813
                                      Park Hyatt New York                                           Saturday      2.702703
                                      Ramada Staten Island                                          Saturday     19.230769
                                      Renaissance Newark Airport Hotel                              Saturday     15.936255
               2015-07-19    2        Hampton Inn JFK Airport                                       Sunday        9.638554
                                      Hilton New York JFK Airport                                   Sunday       23.036342
                                      Hilton Times Square                                           Sunday        9.582689
                                      Home2 Suites by Hilton NY Long Island City Manhattan View     Sunday        6.451613
                                      Park Hyatt New York                                           Sunday        2.702703
               2015-07-20    3        Comfort Inn Times Square South Area                           Monday        3.185841
                                      DoubleTree by Hilton Hotel Newark Airport                     Monday        5.369128
                                      Hampton Inn JFK Airport                                       Monday        7.228916
                                      Hilton New York JFK Airport                                   Monday       25.029308
                                      Home2 Suites by Hilton NY Long Island City Manhattan View     Monday        8.602151
                                      Newark Liberty International Airport Marriott                 Monday        9.594096
                                      Residence Inn Newark Elizabeth Liberty International Airport  Monday        9.523810
               2015-07-21    4        DoubleTree by Hilton Hotel Newark Airport                     Tuesday      12.578616
                                      Hilton Manhattan East                                         Tuesday      10.372608
                                      Hilton New York JFK Airport                                   Tuesday       7.387863
                                      Home2 Suites by Hilton NY Long Island City Manhattan View     Tuesday      12.903226
                                      Newark Liberty International Airport Marriott                 Tuesday      15.884477
                                      Park Hyatt New York                                           Tuesday       2.702703
                                      Renaissance Newark Airport Hotel                              Tuesday       7.346939
               2015-07-22    5        DoubleTree by Hilton Hotel New York - Times Square South      Wednesday     7.682927
                                      DoubleTree by Hilton Hotel Newark Airport                     Wednesday    16.107383
                                      Four Seasons Hotel New York                                   Wednesday     9.496403
                                      Hilton Garden Inn New York Manhattan-Midtown East             Wednesday    14.545455
                                      Hilton Manhattan East                                         Wednesday     5.587669
                                                                                                                   ...
2016-01-01     2016-02-03    33       Renaissance Newark Airport Hotel                              Wednesday    30.493708
                                      Residence Inn New York The Bronx At Metro Center Atrium       Wednesday     8.219178
                                      Residence Inn Newark Elizabeth Liberty International Airport  Wednesday    28.253615
                                      The Carlyle A Rosewood Hotel                                  Wednesday    20.000000
                                      The New York EDITION                                          Wednesday     4.247345
                                      Viceroy New York                                              Wednesday     9.429066
                                      W New York - Downtown                                         Wednesday     7.029877
                                      Wyndham Garden Brooklyn Sunset Park                           Wednesday     6.833114
               2016-02-04    34       Andaz 5th Avenue - a concept by Hyatt                         Thursday      4.307692
                                      Conrad New York                                               Thursday     14.046823
                                      DoubleTree by Hilton Hotel Newark Airport                     Thursday      6.666667
                                      DoubleTree by Hilton New York City - Financial District       Thursday      7.547170
                                      Hampton Inn Manhattan Downtown-Financial District             Thursday     14.323259
                                      Hampton Inn Manhattan Soho                                    Thursday      8.633094
                                      Hampton Inn Manhattan United Nations                          Thursday     18.432511
                                      Hilton Garden Inn New York Manhattan-Midtown East             Thursday     10.708899
                                      Hilton Garden Inn Times Square                                Thursday      7.642276
                                      Hilton New York Fashion District                              Thursday      5.225989
                                      Home2 Suites by Hilton NY Long Island City Manhattan View     Thursday     10.841655
                                      Hyatt Herald Square New York                                  Thursday      6.701708
                                      Hyatt Times Square New York                                   Thursday      7.228916
                                      Hyatt Union Square New York                                   Thursday     14.649682
                                      Newark Liberty International Airport Marriott                 Thursday     40.757042
                                      Renaissance Newark Airport Hotel                              Thursday     30.259366
                                      Residence Inn New York The Bronx At Metro Center Atrium       Thursday      8.219178
                                      Residence Inn Newark Elizabeth Liberty International Airport  Thursday     29.508197
                                      The Carlyle A Rosewood Hotel                                  Thursday     20.000000
                                      Viceroy New York                                              Thursday      8.921933
                                      W New York - Downtown                                         Thursday      9.335727
                                      Wyndham Garden Brooklyn Sunset Park                           Thursday      6.833114
Name: DiscountPerc, Length: 107299, dtype: float64

In [12]:
df.loc[grouped["DiscountPerc"].idxmax()].to_csv("Hotels_data_best_discount.csv")